@media (max-width: 1024px) {
    .post-content {
        width: 100%;
    }

    .post-content .titulo {
        margin-bottom: 200px;
    }
} 

@media (max-width: 688px){
    body{
        overflow-x: hidden;
    }
    .img-logo {
        height: 125px;
        width: 500px;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .post-content .titulo {
        margin-bottom: 50px;
    }

    .post-content .titulo2 .descricao {
        font-size: 20px;
        max-width: 650px;
        display: flex;
        justify-content: center;
        text-align: center;
        margin: auto;
    }
}

@media (max-width: 415px){
    .img-logo {
        height: 100px;
        width: 380px;
    }

    .post-content .titulo2 .descricao {
        font-size: 15px;
        max-width: 390px;
    }

    .container .foto-personagem img {
        height: 300px;
        width: 200px;
    }
}

@media (max-width: 376px){
    .img-logo {
        height: 90px;
        width: 350px;
    }

    .post-content .titulo2 .descricao {
        font-size: 15px;
        max-width: 350px;
    }

    .container .foto-personagem img {
        height: 300px;
        width: 200px;
    }
}

@media (max-width: 365px){
    .img-logo {
        height: 90px;
        width: 340px;
    }

    .post-content .titulo2 .descricao {
        font-size: 15px;
        max-width: 340px;
    }

    .container .foto-personagem img {
        height: 250px;
        width: 190px;
    }
}