@media (max-width: 1024px) {
    .post-content {
        width: 100%;
    }

    .post-content .titulo {
        margin-bottom: 200px;
    }
    body{
        overflow-x: hidden;
    }
} 

@media (max-width: 980px){
    .post-content .titulo {
        margin-top: 0px;
        margin-bottom: 100px;
    }

    .container {
        margin-top: 0px;
    }
    
    .post-content .titulo .foto-icone{
        height: 30px;
        width: 30px;
        margin-right: 20px;
        margin-bottom: 15px;
    }
    
    .img-logo {
        height: 125px;
        width: 500px;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .post-content .titulo {
        margin-bottom: 50px;
    }

    .post-content .titulo2 {
        width: 660px;
    }

    .post-content .titulo2 .descricao {
        font-size: 20px;
        max-width: 650px;
        display: flex;
        justify-content: center;
        text-align: center;
        margin: auto;
    }
}

@media (max-width: 688px){
    .img-logo {
        height: 125px;
        width: 500px;
    }

    .container .foto-personagem img {
        height: 300px;
        width: 200px;
    }

    .post-content .titulo {
        margin-bottom: 50px;
    }

    .post-content .titulo2 {
        width: 510px;
    }

    .post-content .titulo2 .descricao {
        font-size: 18px;
        max-width: 500px;
    }
}

@media (max-width: 415px){
    .post-content .titulo h1 {
        font-size: 30px;
    }
    
    .post-content .titulo .foto-icone{
        height: 30px;
        width: 30px;
        margin-right: 20px;
        margin-bottom: 15px;
    }

    .img-logo {
        height: 100px;
        width: 380px;
    }

    .post-content .titulo2 {
        width: 400px;
    }

    .post-content .titulo2 .descricao {
        font-size: 15px;
        max-width: 390px;
    }
}

@media (max-width: 376px){
    .img-logo {
        height: 90px;
        width: 350px;
    }

    .post-content .titulo2 {
        max-width: 360px;
    }

    .post-content .titulo2 .descricao {
        font-size: 15px;
        max-width: 350px;
    }

    .container .foto-personagem img {
        height: 300px;
        width: 200px;
    }
}

@media (max-width: 365px){
    .img-logo {
        height: 90px;
        width: 340px;
    }

    .post-content .titulo2 {
        max-width: 350px;
    }

    .post-content .titulo2 .descricao {
        font-size: 15px;
        max-width: 340px;
    }

    .container .foto-personagem img {
        height: 250px;
        width: 190px;
    }
}


@media (max-width: 330px){
    .img-logo {
        height: 75px;
        width: 310px;
    }

    .post-content .titulo2 {
        max-width: 320px;
    }

    .post-content .titulo2 {
        max-width: 310px;
    }

    .post-content .titulo2 .descricao {
        font-size: 15px;
        max-width: 320px;
    }

    .container .foto-personagem img {
        height: 210px;
        width: 160px;
    }
}