* {
    margin: 0px;
    padding: 0;
    font-family: 'MedievalSharp', cursive;
}

body {
    overflow-x: hidden;
}

.cabecalho {
    padding: 15px;
    height: 40px;
    background-image: linear-gradient(to bottom, #D92D3E, #E7D8BE);
}

#nav {
    position: fixed;
}

ul {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    border-radius: 10px;
    border: 1px solid #6d6d6d;
}

li {
    display: inline-block;
    color: #ffff;
    padding: 10px 20px;
}

li:hover {
    border-bottom: 2px solid #ffff;
}

li ul {
    display: none;
    padding: 0px;
    position: absolute;
    flex-direction: column;
    z-index: 9999;
    transform: translate(-20px, 10px);
}

li:hover ul {
    display: flex;
}

a {
    list-style: none;
    text-decoration: none;
    font-size: 17px;
    color: #ffff;
}

#idioma {
    float: right;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 30px;
}

#idioma li{
    align-items: center;
    text-align: center;
}

.main {
    background-color: #E7D8BE;
    min-height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-logo {
    height: 275px;
    width: 950px;
}

.personagens{
    background-color: #E7D8BE;
}

.container {
    display: flex;
    background-color: #E7D8BE;
    height: 100vh;
}

.container .foto-personagem {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container .foto-personagem img {
    height: 400px;
    width: 300px;
}

.post-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-content .titulo {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

.post-content .titulo h1 {
    font-size: 50px;
}

.post-content .titulo .foto-icone{
    height: 50px;
    width: 50px;
    margin-right: 20px;
    margin-bottom: 15px;
}


.post-content .titulo2 {
    width: 700px;
    height: auto;
    border-top: 2px solid #a9a9a9;
    border-bottom: 2px solid #a9a9a9;
    padding: 90px 0;
    display: flex;
}


.post-content .titulo2 .descricao {
    font-size: 25px;
}


