* {
    margin: 0px;
    padding: 0;
    font-family: 'MedievalSharp', cursive;
}

.cabecalho {
    padding: 15px;
    height: 40px;
    background-image: linear-gradient(to bottom, #D92D3E, #E7D8BE);
}

#classes {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    background-position: 218px center;
    width: 150px;
    height: 30px;
    border: 1px solid #ddd;
}

#opcao {
    display: flex;
    justify-content: center;
    text-align: center;
}

.main {
    background-color: #E7D8BE;
    min-height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-logo {
    height: 275px;
    width: 950px;
}

.personagens{
    background-color: #E7D8BE;
}

.container {
    display: flex;
    background-color: #E7D8BE;
    height: 100vh;
}

.container .foto-personagem {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container .foto-personagem img {
    height: 400px;
    width: 300px;
}

.post-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-content .titulo {
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}


.post-content .titulo2 {
    width: 700px;
    height: auto;
    border-top: 2px solid #a9a9a9;
    border-bottom: 2px solid #a9a9a9;
    padding: 90px 0;
    display: flex;
}


.post-content .titulo2 .descricao {
    font-size: 25px;
}


